<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New List</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
<h1>Add a New List</h1>
<form action="/new" method="post">
    <p>What's the name of the list?</p>
    <input type="text" name="name">

    <p>Pick a color:</p>
    <input type="radio" name="color" id="red" value="#e04848" />
    <label for="red"><span class="red"></span></label>

    <input type="radio" name="color" id="green" value="#28c25c" />
    <label for="green"><span class="green"></span></label>

    <input type="radio" name="color" id="yellow" value="#fcca3a" />
    <label for="yellow"><span class="yellow"></span></label>

    <input type="radio" name="color" id="olive" value="#c1d436" />
    <label for="olive"><span class="olive"></span></label>

    <input type="radio" name="color" id="orange" value="#f0873c" />
    <label for="orange"><span class="orange"></span></label>

    <input type="radio" name="color" id="teal" value="#00d0c0" />
    <label for="teal"><span class="teal"></span></label>

    <input type="radio" name="color" id="blue" value="#3a9fe0" />
    <label for="blue"><span class="blue"></span></label>

    <input type="radio" name="color" id="violet" value="#7d5bc9" />
    <label for="violet"><span class="violet"></span></label>

    <input type="radio" name="color" id="purple" value="#b85ee0" />
    <label for="purple"><span class="purple"></span></label>

    <input type="radio" name="color" id="pink" value="#eb5ca1" />
    <label for="pink"><span class="pink"></span></label>

    <div class="spacer"></div>
    <button type="submit">Add</button>
</form>
</body>

</html>
